.footer-container {
    background-color: var(--clr-blue);
    padding: 2rem 0;
    margin-top: 2em;
}

.footer {
    width: 80%;
    color: #000000;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    width: 350px;

}

.footer-heading p {
    padding-top: 2%;
    font-size: 20px;
}

.logo_footer {
    width: 65%;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

/* .footer-heading a:hover {
    color: #ae5fce;
    transition: 0.3s ease-out;
} */

.subcribe-form {
    margin: 0 auto;
    max-width: 550px;
    position: relative;
}

.search-icon {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 11px;
    left: 12px;
}

.subcribe-form button {
    position: absolute;
    top: 6px;
    right: -64px;
    bottom: 6px;
    color: #2E4453;
}

.subcribe-form input {
    font-size: 18px;
    width: 100%;
    padding: 13px 16px 12px 48px;
    transition: all 0.15s ease-in-out;
}

.search-example {
    margin: 0 auto;
    padding: 80px 0;
    width: 600px;
}

.search-example-info {
    display: inline-block;
    max-width: 49%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 16px;
}

.search-example-info p {
    line-height: 1.4;
    margin-bottom: 8px;
}

.search-example-info a {}


.example-browser {
    display: inline-block;
    max-width: 49%;
}