@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

#menu_header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    height: 65px;
    width: 90%;
    background: #ffffff;
    border-bottom: 2px solid black;
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    padding: 0 100px;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: #000000;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,
a:hover {
    border: 1px solid #000000;
    transition: .5s;
}

nav #icon {
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.btn_header {
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue;
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

#menu_header .icon_nav {
    display: none;
}

@media(max-width:1091px) {
    label.logo {
        font-size: 32px;
        padding-left: 60px;
    }

    nav ul {
        margin-right: 20px;
    }

    nav a {
        font-size: 17px;
    }
}

@media(max-width:999px) {
    label.logo {
        font-size: 30px;
        padding-left: 60px;
    }

    nav ul {
        margin-right: 18px;
    }

    nav a {
        font-size: 12px;
    }
}

@media(max-width:909px) {
    nav #icon {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav a {
        font-size: 20px;
    }

    a.active,
    a:hover {
        border: none;
        color: #3498db;
    }

    nav ul.show {
        left: 0;
    }
}

section {
    background: url(/img/fondo-header.jpg)no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}