:root {
    --clr-gray-light: #d7dfe2;
    --clr-gray-med: #616b74;
    --clr-gray-dark: #414b56;
    --clr-primary: #0066FF;
    ;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');



* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

body {
    width: 85%;
    padding: auto;
    margin: auto;
}

.wrapper {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;

}

.btn_defaut {
    background-color: #fff;
    padding: 10px 35px;
    font-weight: 700;
    color: #000;

}

.call-action-wrapper {
    color: #ffff;
    text-align: center;
    line-height: 4em;
    background-color: var(--clr-primary);
    flex-direction: column;
    height: 14em;

}

.call-action-wrapper h1 {
    font-size: 40px;
}