.qa-container .col {
    width: 50%;
}

.qa-img img {
    max-width: 80%;
    height: auto;
}

.div-question {
    border-bottom: 2px solid var(--clr-gray-med);
    line-height: 2em;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.faq {
    box-sizing: border-box;
    background: transparent;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.faq:not(:first-child) {
    border-top: 1px solid #e6e6e6;
}

.faq-title {
    margin: 0 35px 0 0;
}

.faq-text {
    margin: 30px 0 0;
    display: none;
    line-height: 1.5rem;
}

.faq.active {
    background-color: #f8f8f8;
}

#sub_btn {
    display: none;
}

.faq.active .faq-text {
    display: block;
}

.faq.active #sub_btn {
    display: block;
}

.faq.active #plus_btn {
    display: none;
}

.faq-toggle {
    background-color: transparent;
    border: 1px solid #e6e6e6;
    color: inherit;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-top: 3px;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    transition: 0.3s ease;
}

.faq-toggle:focus {
    outline: none;
}

.faq.active .faq-toggle {
    transform: rotate(180deg);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: #fff;
}

@media screen and (max-width:768px) {
    .qa-container .col {
        width: 98%;
        text-align: center;
    }

    .qa-img img {
        max-width: 100%;
        height: auto;
    }

    .faq-container {
        max-width: 95%;
    }
}

@media screen and (max-width:360px) {
    .qa-container .col {
        width: 98%;
        text-align: center;
    }

    .qa-img img {
        max-width: 100%;
        height: auto;
    }

    .faq-container {
        max-width: 95%;
    }
}