/* section hero */
.row {
    width: 85%;
    margin: auto;
    padding: auto;
}

.hero-section {
    padding-top: 5%;
}

.hero-col1 {
    padding-top: 4%;
    line-height: 5em;
}

.hero-col1 h1 {
    font-size: 45px;

}

.flex-container {
    display: flex;
}

.btn_hero {
    background-color: var(--clr-primary);
    border-color: #2196F3;
    color: rgb(255, 255, 255);
    padding: 10px 35px;
}

/* Start section */
.start-section {
    margin-top: 5%;
}

.start-content {
    padding: 5% 5%;
    margin: auto;
}

.start-content h1 {
    font-size: 40px;
}

.start-content p {
    font-size: 20px;
    padding-top: 5%;
}

/* innovative-section */
.innovative-section {
    margin-top: 5%;
    background-color: var(--clr-primary);
    text-align: center;
    border-radius: 25px;
}

.innovative-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.innovative-content {
    line-height: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    color: #ffffff;
}

.innovative-content h1 {
    font-size: 40px;
}

.innovative-content h4 {
    font-weight: 300;
    font-size: 30px;
}

.innovative-img img {
    padding-top: 2%;
}

/* reponsive section */
@media screen and (max-width: 1265px) {
    .flex-container {
        flex-wrap: wrap;
    }

    .innovative-img img {
        max-width: 90%;
    }


}

/* tablet */
@media screen and (max-width: 1024px) {
    .hero-col1 h1 {
        font-size: 50px;

    }

    .hero-col1 h4 {
        font-size: 30px;

    }

    .innovative-img img {
        max-width: 90%;
    }
}

@media only screen and (min-width: 595px) and (max-width:765px) {
    .hero-col1 {
        line-height: 4em;
    }

    .hero-col1 h1 {
        font-size: 50px;

    }

    .hero-col1 h4 {
        font-size: 30px;

    }


    .start-img img {
        width: 85%;
    }

    .start-content h1 {
        font-size: 25px;
    }

    .start-content p {
        font-size: 15px;
    }

    .hero-col2 img {
        width: 85%;
        padding: 5% 5%;
    }

    .innovative-content h1 {
        font-size: 19px !important;
    }

    .innovative-content h4 {
        font-weight: 300;
        font-size: 10px;
    }

    .innovative-content {
        line-height: 2em !important;
    }

}

@media only screen and (min-width: 360px) and (max-width:594px) {
    .row {
        width: 100% !important;
    }

    .hero-col1 {
        line-height: 3em;
        padding-left: 2%;
    }

    .hero-col2 img {
        padding: 5% 5%;
    }

    .hero-col1 h1 {
        font-size: 35px;
    }

    .hero-col1 h4 {
        font-size: 19px;

    }

    .start-img img {
        width: 100%;
    }

    .start-content h1 {
        font-size: 25px;
    }

    .start-content p {
        font-size: 15px;
    }

    .innovative-img img {
        width: 600px;
        height: 200px;
    }

    .innovative-content {
        padding: 10%;
    }

    .innovative-content h1 {
        font-size: 30px;
        line-height: 1em;
    }

    .innovative-content h4 {
        font-weight: 300;
        font-size: 18px;
        line-height: 2em;
    }

    .innovative-section {
        margin-top: 5%;
        background-color: var(--clr-primary);
        text-align: center;
        border-radius: 25px;
    }
}